{
    "extends": "airbnb-base",
    "plugins": [
        "import"
    ],
    "rules": {
        "arrow-parens": [
            "error",
            "always"
        ],
        "no-console": "off"
    },
    "env": {
        "jest": true,
        "es6": true
    }
}
